@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;}

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul,li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: inherit; font-weight: 400;}


.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    // font-family: 'Roboto', sans-serif;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

/* HEADER */

.header {
    font-family: 'Roboto', sans-serif;
}
.header__top {
    background-color: #303030;
}
.header__contacts:after {
    content: '';
    clear: both;
    display: block;
}
.header__btn,
.footer__btn {
    float: right;
    background-color: #ffc222;
    line-height: 36px;
    color: #1b1b1b;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
    &:before {
        font-family: 'icomoon';
        content: "\f0b1";
        position: absolute;
        left: 23px;
        color: #1b1b1b;
    }
}
.header__email, .header__phone, 
.footer__email, .footer__phone {
    color: #d3d2d2;
    letter-spacing: 0.25px;
    line-height: 45px;
}
.header__phone,
.footer__phone {
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    &:before {
        font-family: 'icomoon';
        content: "\f095";
        color: #ffc222;
        position: absolute;
        left: 0;
    }
}
.header__email,
.footer__email {
    padding-left: 24px;
    position: relative;
    &:before {
        font-family: 'icomoon';
        content: "\f003";
        color: #ffc222;
        position: absolute;
        left: 0;
    }
}
.header__content {
    padding: 34px 0px 23px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.header__logo {
}
.menu {
    li{
        display: inline-block;
        a {
            color: #323232;
            font-size: 16px;
            line-height: 36px;
            padding: 10px 16px;
            border: 1px solid transparent;
            transition: all .3s;
        }
        a:hover {
            border-color: #ffc222;
        }
    }
    li + li {
        padding-left: 10px;
    }
}

/* SLIDER SECTION */

.slider {
    background-image: url(../img/slider-fon.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}
.container {
}
.slider__inner {
    position: relative;
}
.slider__item {
}
.slider__item-content {
    text-align: center;
    padding-top: 110px;
    margin: 0 auto;
    max-width: 665px;
}
.slider__title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1.2px;
    color: #fff;
    margin-bottom: 22px;
}
.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;

}
.default-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.6px;
    color: #fff;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    padding: 14px 27px;
    display: inline-block;
    position: relative;
    &:after {
        font-family: 'icomoon';
        content: "\f105";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
    }
}

.slick-btn {
    font-family: 'icomoon';
    content: "\f105";
    position: absolute;
    top: 70%;
    z-index: 2;
    border: 1px solid #ffc222;
    color: #fff;
    padding: 14px 20px;
    background-color: #ffc222;
}

.slick-btn.slick-disabled {
    background-color: transparent;
    border-color: #fff;
    cursor: default;
}

.slick-next {
    right: 0;
    &:after {
        font-family: 'icomoon';
        content: "\f105";
    }
}

.slick-prev {
    left: 0;
    &:after {
        font-family: 'icomoon';
        content: "\f104";
    }
}



/* SERVICES SECTION */
.services {
    padding: 50px 0 30px;
}
.services__top,
.news__top {
    position: relative;
    margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.news__title-box {
    padding-left: 138px;
    max-width: 530px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        border-top: 2px solid #ffc222;
        width: 106px;
    }
}
.services__title,
.news__title,
.form__title {
    color: #212020;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.services__text,
.news__text,
.form__text {
    color: #5e5e5e;
    letter-spacing: 0.1px;
}
.services__btn,
.news__btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}
.showmore-btn {
    font-family: 'Roboto', sans-serif;
    color: #373636;
    border: 3px solid #e6e6e6;
    padding: 11px 44px;
}
.services__items {
    display: flex;
    justify-content: space-between;
}
.services__item {
    max-width: 360px;
    min-height: 370px;
    text-align: center;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0px 7px 23px -5px rgba(162, 171, 178, 0.6);
    -moz-box-shadow: 0px 7px 23px -5px rgba(162, 171, 178, 0.6);
    box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
    padding: 42px 35px;
    position: relative;
}
.services__item-icon {
    margin: 0 auto 24px auto;
}
.services__item-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #212020;
    margin-bottom: 35px;
}
.services__item-text {
    color: #5e5e5e;
    margin-bottom: 65px;
}
.services__item-btns {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services__item-link {
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 0.1px solid #050505;
    margin-right: 50px;
}
.services__item-btns .default-btn{
    color: #212020;
    padding: 5px 35px;
    border-width: 3px;
    border-right-width: 20px;
    &:after {
        color: #fff;
    }
}


/* SECTION ABOUT */
.about {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/about-fon.jpg);
    background-position: center;
    min-height: 300px;
}
.about__inner {
    padding: 40px 0 47px;
    .default-btn:after{
        color: #303030;
    }
}
.about__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 34px;
}
.about__text {
    max-width: 540px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
    color: #d3d2d2;
}


/* SECTION FORM */

.form .container {
    padding-top: 35px;
}
.form__inner {
    padding-bottom: 40px;
    min-height: 459px;
    background-image: url(../img/form-fon.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.form__box {
    max-width: 850px;
}
.form__box-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    color: #282828;
    label {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', 'sans-serif';
        margin-bottom: 10px;
        line-height: 36px;
    }
    input {
        border: 1px solid #e6e6e6;
        height: 40px;
        padding: 0 10px;
        width: 100%;
        &:focus{
            border-color: #000;
        }
    }
    textarea {
        border: 1px solid #e6e6e6;
        height: 213px;
        padding: 10px;
        width: 100%;
        resize: none;
        &:focus{
            border-color: #000;
        }
    }
    .jq-selectbox.jqselect {
        width: 100%;

    }
    .jq-selectbox__select {
        border: 1px solid #e6e6e6;
        height: 40px;
        padding: 0 10px;
        background: #fff;
        box-shadow: none;
        border-radius: 0;
        font: inherit;
        color: #282828;
        text-shadow: none;
        position: relative;
    }
    .jq-selectbox__trigger {
        position: static;
        width: 0;
        height: 0;
        border-left: none;
    }
    .jq-selectbox__trigger-arrow {
        top: 14px;
        right: 12px;
        width: 0;
        height: 0;
        border: none;
        color: #000;
        &:before{
            position: absolute;
            font-family: 'icomoon';
            content: "\f104";
            right: 0;
            top: 50%;
            transform: translateY(-36%) rotate(-90deg);
        }
    }
    .jq-selectbox.focused .jq-selectbox__select {
        border: 1px solid #000;
    }
    .jq-selectbox li:hover {
        background-color: #ffc222;
        color: #FFF;
    }
    .jq-selectbox li.selected {
        background-color: #000;
        color: #FFF;
    }
}
.form__box-left {
    max-width: 260px;
    width: 100%;
}
.form__box-right {
    max-width: 555px;
    width: 100%;
    position: relative;
    .default-btn {
        position: absolute;
        bottom: 10px;
        right: 0;
        background-color: transparent;
        color: #282828;
        border-width: 3px;
        border-right-width: 20px;
        padding: 5px 30px;
        &:after{
            color: #282828;
        }
    }
}






/* SECTION ADVANTAGES */
.advantages {
    background-position: center;
    background-image: url(../img/adv-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 287px;
    padding: 53px 0px 38px;
}
.advantages__items {
    display: flex;
    justify-content: space-between;
}
.advantages__item {
    text-align: center;
    max-width: 340px;
}
.advantages__item-icon {
    border: 2px solid #ffc222;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    &:before {
        position: absolute;
        top: 25%;
        left: 30%;
        font-family: 'icomoon';
        content: "\f00c";
        color: #fff;
    }
}
.advantages__item-title {
    font-family: 'Roboto', 'sans-serif';
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    padding: 24px 0;
}
.advantages__item-text {
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}




/* SECTION NEWS */
.news {
    padding: 55px 0px 110px;
    background-color: #f9f9f9;
    .news__top {
        margin-bottom: 50px;
    }
}
.news__content {
    display: flex;
    justify-content: space-between;
}

// .news__slider {
//     min-height: 420px;
//     max-width: 555px;
//     position: relative;
// }
.news__slider {
    max-width: 555px;
    min-height: 340px;
    padding: 63px 35px 48px 70px;
    background-color: #fff;
    box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    position: relative;
    .slick-slider {
        position: static;
    }
    &:before {
        position: absolute;
        top: 0;
        left: 70px;
        content: "\f10e";
        font-family: 'icomoon';
        background-color: #ffc222;
        width: 65px;
        height: 30px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.news__slider-inner {
    .slick-btn {
        width: 50px;
        height: 50px;
        top: auto;
        left: auto;
    }
    .slick-next {
        position: absolute;
        bottom: -85px;
        right: 0;
    }
    .slick-prev {
        position: absolute;
        bottom: -85px;
        right: 70px;
    }
    .slick-btn.slick-disabled {
        border-color: #dadada;
        &:after {
            color: #dadada;
        }
    }
} 
.news__slider-item {
}
.news__slider-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #242424;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-bottom: 25px;
}
.news__slider-text {
    letter-spacing: 0.1px;
    margin-bottom: 35px;
}
.news__slider-author {
    letter-spacing: 0.1px;
    color: #212020;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.news__company-new {
    max-width: 263px;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: 10px;
        width: 50px;
        height: 55px;
        content: '3.04';
        font-weight: 900;
        color: #fff;
        background-color: #ffc222;
        display: flex;
        justify-content: center;
        align-items: end;
        padding-bottom: 10px;
    }
}
.news__company-new-img {
    min-height: 192px;
}
.news__company-new-title {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #242424;
    padding: 20px 0 15px;
}
.news__company-new-text {
    letter-spacing: 0.1px;
    color: #5e5e5e;
}



/* FOOTER */
.footer {


}
.footer__content {
    background-color: #595959;
    padding: 30px 0px 40px;
    min-height: 335px;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.footer__contacts {
    color: #fff;
    max-width: 350px;
}
.footer__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.5px;
}
.footer__text {
    color: #d3d2d2;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}
.footer__btn {
    display: inline-block;
    float: left;
    margin-bottom: 25px;
}
.footer__phone {
    display: inline-block;
    width: 100%;
    line-height: 36px;
}
.footer__location {
    display: inline-block;
    width: 100%;
    color: #d3d2d2;
    letter-spacing: 0.25px;
    padding-left: 20px;
    padding-right: 30px;
    position: relative;
    line-height: 36px;
    &:before {
        font-family: 'icomoon';
        content: "\f041";
        color: #ffc222;
        position: absolute;
        left: 0;
    }
}
.footer__email {
    display: inline-block;
    line-height: 36px;
}
.footer__map {
    padding-top: 25px;
    iframe {
        max-width: 100%;
    }
}
.footer__copyright {
    background-color: #303030;
    text-align: center;
    padding: 10px 0px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
}

/* MODAL */
#modal {
width: 300px;
display: none;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .modal__title {
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        align-self: self-start;
        padding-bottom: 30px;
    }
    input {
        border: 1px solid #e6e6e6;
        height: 40px;
        padding: 0 10px;
        width: 100%;
        margin-bottom: 20px;
        &:focus{
            border-color: #000;
        }
    }
    .default-btn {
        width: 100%;
        color: #000;
        background-color: transparent;
        align-self: flex-start;
    }
}
body.compensate-for-scrollbar {
    overflow: auto; 
}

.menu__btn {
    display: none;
    font-size: 32px;
}